<%= simple_form_for(@project) do |f| %>
  <fieldset>
  <%= f.error_notification %>

    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.input :name %>
    <%= f.input :description, :as => :text %>
    <%= f.input :tags %>
    <%= f.input :completed %>
    <%= f.input :in_progress %>

    <div class="actions">
      <%= f.button :submit %>
    </div>
  </fieldset>
<% end %>
