<%= simple_form_for(@project) do |f| %>
  <fieldset>
  <%= f.error_notification %>


    <%= f.input :name %>
    <%= f.input :description, :as => :text %>
    <%= f.input :tags %>

    <div class="input radio optional">
      <div class="row">
        <div class="large-3 columns">
          <%= f.label :completed %>
        </div>
        <div class="large-3 columns">
          <div class="switch small radius">
            <%= f.radio_button :completed, :completed, :name => "switch-z" %>
            <label for="z" onclick="">Off</label>

            <%= f.radio_button :completed, :completed, :name => "switch-z" %>
            <label for="z1" onclick="">On</label>

            <span></span>
          </div>
        </div>
      </div>
    </div>

    <%= f.input :in_progress %>

    <div class="actions">
      <%= f.button :submit %>
    </div>
  </fieldset>
<% end %>
