<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @project.tags %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @project.completed %>
</p>

<p>
  <strong>In progress:</strong>
  <%= @project.in_progress %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
